*.bak
*.ez
nlw-*.tar
erl_crash.dump
tags
.DS_Store
.vim
.scannerwork
__pycache__

docker/dbdata/
docker/conf.d/*.conf
docker/.env
docker/db.sql
docker/config/*.json

api/logs/*.log
api/public/static/*
!api/public/static/images
api/public/media
api/public/client*

.venv
.idea/
